/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 390px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(32, 32, 32); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 20px;
    color: #ffffff;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.activeKeypoint {
    color: rgba(241, 241, 241, 1.0);
}

.keypointsList {
    color: rgba(241, 241, 241, 0.3);
    list-style: disc;
}

.categoryLabel {
    color: rgba(241, 241, 241, 0.3);
}

.categoryLabel p {
    margin-bottom: 5px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 400px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.imgLabeling{
    width: 100%;
    max-width: 1000px;    
}

canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.canvasContainer{
    position: relative;
    width: 100%;
    height: 100%;
}

.canvasImage{
    z-index: 1;
    cursor: crosshair;
    position: relative;
    border: 1px solid black;
}

.keypointsContainer{
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: crosshair;
}

.keypointsButton{
    width: 90%;
    height: 30px;
    font-size: 16px;
    margin-bottom: 5px;
    color: black;
}

.keypoint {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    cursor: not-allowed;
    position: absolute; 
    z-index: 3;
  }

.keypointLabel {
    height: 20px;
    width: auto;
    position: absolute;
    background-color:rgb(255, 255, 255, 0.5);
    border: 1px solid black;
    color:rgb(32, 32, 32);
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(98, 98, 98);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(98, 98, 98);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
} 